<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="purse"></div>
  </body>
  <script data-main="javascripts/config.js" src="javascripts/lib/requirejs/require.js"></script>
</html>
